<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="onlineExam.persistent.StudentMapper">
  <resultMap id="BaseResultMap" type="onlineExam.domain.po.Student">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="studentId" jdbcType="VARCHAR" property="loginName" />
    <result column="studentPassword" jdbcType="VARCHAR" property="studentPassword" />
    <result column="studentName" jdbcType="VARCHAR" property="studentName" />
    <result column="studentSex" jdbcType="VARCHAR" property="studentSex" />
    <result column="studentDept" jdbcType="VARCHAR" property="studentDept" />
    <result column="studentMajor" jdbcType="VARCHAR" property="studentMajor" />
  </resultMap>
  <sql id="Base_Column_List">
    id, studentId, studentPassword, studentName, studentSex, studentDept, studentMajor
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="onlineExam.domain.po.Student">
    insert into student (id, login_name, password
      )
    values (#{id,jdbcType=INTEGER}, #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="onlineExam.domain.po.Student">
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="password != null">
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="onlineExam.domain.po.Student">
    update student
    <set>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="onlineExam.domain.po.Student">
    update student
    set login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>